@import "../../scss/variables";
@import "../../scss/mixins";

.reportsunderline {
  .vendor-document-table {
    table {
      border-collapse: separate;
    }
    .p-datatable .p-datatable-thead > tr > th {
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  .muidatepicker > * .MuiInputBase-root {
    padding-right: 7px;
    .MuiSvgIcon-root {
      font-size: 1.3rem;
    }
  }
}

.p-datatable-header {
  h4 {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #15a7ea !important;
    margin-top: 0.1rem;
  }

  .legendContainer .legend.blueNW .legendCircle {
    background-color: #98d0ef !important;
  }
}

.pageContainer {
  .error-text {
    margin-left: 2.5px !important;
  }

  .col-5 {
    font-size: 13px;
  }

  .p-datatable-table {
    .p-datatable-tbody {
      td:has(.numberCol) {
        text-align: right !important;
      }

      td:has(.dateCol) {
        text-align: center !important;
      }

      td:has(.custom-column-class) {
        background-color: #e9f7ff !important;
      }
    }
  }
}

.pageContainer {
  .p-datatable {
    .p-datatable-header {
      background-color: #ffffff !important;
      border: none !important;
    }
  }
}

/*--------------------------------------Material React Table for Timesheet Deatail Report--------------*/

// .css-1cafy48-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
//   min-height: 192px !important;
// }

.timesheet-details-report-table table th:has(.mixer) > * {
  padding: 0 16px;
  background-color: inherit;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
  display: flex;
  align-items: center;
  // margin-bottom: -50px;
  height: 72px;
  // border-right: 0px !important;
  // border-top: 0px !important;
}

//  .timesheet-details-report-table .darkHeader thead tr:first-of-type th:has(.mixer){
//     border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
//  }

.timesheet-details-report-table .css-l2lbfs-MuiTableHead-root th {
  border-top: 0 !important;
}

.timesheet-details-report-table .darkHeader thead tr th:has(.mixer) > * {
  // border-right: 0px !important;
  border-top: 0px !important;
}

.timesheet-details-report-table {
  .blueNew .legendCircle {
    background-color: #98d0ef !important;
  }

  .greenNew .legendCircle {
    background-color: #539a71 !important;
  }

  .purpleNew .legendCircle {
    background-color: #9567c2 !important;
  }

  .orangeNew .legendCircle {
    background-color: #e17658 !important;
  }

  table {
    @include mixer(55);

    thead {
      opacity: 1 !important;

      tr {
        th {
          padding: 0;
        }

        &:nth-of-type(1) {
          th {
            position: sticky !important;
            top: 0;
            z-index: 3;
          }
        }

        &:nth-of-type(2) {
          th {
            position: sticky !important;
            top: 28.41px;
            z-index: 2;
          }
        }

        &:nth-of-type(1) {
          th:not(.mixer) {
            border-bottom: 1px solid rgba($white, 0.3) !important;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &:has(.weekend-color) {
            background-color: #e9f7ff !important;
          }

          &:has(.customer) {
            color: #539a71 !important;
            font-weight: 600 !important;
          }

          &:has(.project) {
            color: #9567c2 !important;
            font-weight: 600 !important;
          }

          &:has(.resource) {
            color: #e17658 !important;
            font-weight: 600 !important;
          }

          &:has(.allocType) {
            font-weight: 600 !important;
          }
        }
      }
    }
  }

  tr {
    th,
    td {
      &:nth-of-type(2) {
        min-width: 100px;
        max-width: 100px;
      }

      &:nth-of-type(1) {
        max-width: 35px;
        min-width: 35px;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        max-width: 70px;
        min-width: 70px;
      }

      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9) {
        max-width: 50px;
        min-width: 50px;
      }

      &:last-of-type {
        max-width: 80px;
        min-width: 80px;
      }
    }

    &:last-of-type {
      td {
        border-bottom: 1px solid rgba($black, 0.2) !important;
      }
    }
  }
}

.timesheet-details-report-table
  .darkHeader:not(.toHead)
  tbody
  tr:nth-of-type(odd)
  td {
  &:has(.weekend-color) {
    background-color: #e9f7ff !important;
  }
}

/*------------------For Heading of the Screen--------------------------*/

.childThree.reportsFilter-btn .collapseHeader {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;

  h2 {
    font-size: 15px;
    font-weight: 600 !important;
    margin-top: 2px;
    color: #15a7ea;
  }
}

.to-remove-border-bottom {
  border-bottom: 0 !important;
}

.timesheet-details-report-table .excel-alignment {
  display: flex;
  justify-content: space-between;

  .excelandpdf-alignment {
    display: flex;
    width: 80%;
    justify-content: end;

    .pi {
      cursor: pointer;
      font-size: 20px;
      font-weight: 300;
    }

    .pi-file-excel {
      color: #3fb141;
    }

    .pi-file-pdf {
      color: #e41b1b;
    }
  }
}

.timesheet-details-report-table {
  h4 {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #15a7ea !important;
    margin-top: 0.1rem;
  }
}

.reportsunderline.customCard .group-content {
  border-bottom: 1px solid #dddd;
}

.alert-note {
  color: #9d7c42;
  font-size: 13px;
  line-height: 1;
}

.alert-note-y-n {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.information-icon {
  font-size: 15px;
}

/*---------------------------------------------project resource report table-------------------------------------------*/
.projectResource-report-table.materialreact-details-report-table {
  // .darkHeader thead tr th:has(.mixer) > * {
  //   border-top: 0;
  // }
  .excel-alignment {
    display: flex;
    justify-content: space-between;

    .excelandpdf-alignment {
      .pi {
        cursor: pointer;
        font-size: 20px;
        font-weight: 300;
      }

      .pi-file-excel {
        color: #3fb141;
      }
    }
  }

  h4 {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #15a7ea !important;
    margin-top: 0.1rem;
  }

  .blueNew .legendCircle {
    background-color: #98d0ef !important;
  }

  .legend.greenNew .legendCircle {
    background-color: #f18ab2 !important;
  }

  .legend.purpleNew .legendCircle {
    background-color: #ecabab !important;
  }

  table {
    @include mixer(55);

    thead {
      position: sticky;
      top: 0;
      z-index: 2;

      th {
        padding: 5px;

        &:has(.mixer) > div {
          border-top: 0 !important;
        }
      }
    }

    tbody {
      td {
        &:has(.weekendColor_PRRT) {
          background-color: #e4e4e4 !important;
        }

        &:has(.pink-for-leave) {
          background-color: #f18ab2 !important;
        }

        &:has(.lightpink-for-overalloc) {
          background-color: #ecabab !important;
        }

        &:has(.blue-holiday) {
          background-color: #98d0ef !important;
        }
      }
    }
  }
}

.reportsunderline {
  .flex.flex-row-reverse {
    margin-top: -27px;
  }

  .p-datatable-header {
    margin-top: -15px;
  }

  .legendContainer {
    margin-top: -25px;
  }
}

//For multiselect of report
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: $black;
  background-color: #e2e6ea;
  .p-checkbox .p-checkbox-box {
    width: 14px !important;
    height: 14px !important;
    border-radius: 2px !important;
  }
}

.p-virtualscroller {
  .p-checkbox-box {
    width: 14px !important;
    height: 14px !important;
    border-radius: 2px !important;
  }
}

.p-checkbox-box.p-highlight {
  width: 14px !important;
  height: 14px !important;
  border-radius: 2px !important;
}

.p-multiselect-header {
  .p-checkbox-box {
    width: 14px !important;
    height: 14px !important;
    border-radius: 2px !important;
  }
}

.p-virtualscroller {
  overflow-x: hidden;
  .p-checkbox.p-component {
    margin-right: 0.2rem !important;
    margin-top: 2px;
  }
}
.p-multiselect-panel
  .p-multiselect-items
  .p-checkbox
  .p-checkbox-box.p-highlight,
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #0075ff !important;
  background: #0075ff !important;
}
.p-multiselect-panel {
  border: 1px solid $lightGray;
  overflow: hidden;
  padding: 4px;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  font-size: 12px;
  font-weight: 600;
}
.p-multiselect-panel {
  span {
    .ellipsis {
      max-width: 190px;
    }
  }
}

//to make legend circle and excel logo in same line
.excel-alignment {
  .excelandpdf-alignment {
    .pi-file-excel {
      position: relative;
      top: -12.5px;
    }
  }
}

// to make bold the first row of body in Resource Allocation Report screen

.reportsunderline {
  .vendor-document-table {
    tr {
      &:has(.resourceALLoc-Report_Bold) {
        td {
          font-weight: 600;
        }
      }
    }
    th {
      line-height: 1.2;
    }
  }
}

//for additional breadcrums in report

.col-md-12.childOne {
  .reports-breadcrum {
    display: flex;
    gap: 2px;
    align-items: center;
    position: relative;
    z-index: 9999;
    top: -42px;
    left: 50px;
    width: 130%;
    span {
      width: fit-content;
      &:has(.breadcrumbHomeIcon) {
        margin-top: -2px;
        a {
          color: #02277f;
        }
      }
    }
    .drop-down-link {
      a {
        color: #15a7ea;
        text-decoration: underline;
      }
      a:hover {
        color: #15a7ea;
        text-decoration: none;
      }
      .repots-dropdown-menu {
        position: absolute;
        /* top: 100%; */
        // left: 0px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
        z-index: 1;
        min-width: max-content;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 5px;
        ul {
          margin-bottom: 0 !important;
          list-style: none;
          li {
            font-size: 12px;
            padding: 6px 10px;
            a {
              color: $black !important;
              font-family: "Roboto", "Helvetica", "Arial", sans-serif;
              letter-spacing: 0.1px;
              text-decoration: none;
            }
          }
          li:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
}
