.p-datatable {
  font-size: 10px !important;
  .p-datatable-header {
    padding: 10px !important;
  }
  .p-inputtext {
    font-size: 12px;
    padding: 5px 5px 5px 40px;
  }

  .p-sortable-column {
    .p-sortable-column-icon {
      font-size: 12px;
    }
  }
  .p-datatable-thead {
    border-collapse: collapse;
    thead{
        position: sticky;
        top: 0;
        z-index: 2;
    }
    tr {
      th {
        padding: 6px;
      }
    }
  }
  .p-datatable-tbody {
    tr {
      td {
        padding: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
      }
    }
  }
  .p-paginator {
    .p-paginator-page,
    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
      min-width: 30px;
      height: 30px;
    }
  }
}
