@import "../../scss/variables";

.resourceOverview {
  tr {
    &:not(:nth-of-type(2)) {
      th {
        &:nth-of-type(1),
        &:nth-of-type(3) {
          border-right: 3px solid #bdb7b7 !important;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          border-top: 3px solid #bdb7b7 !important;
        }
      }

      td {
        &:nth-of-type(1),
        &:nth-of-type(5) {
          border-right: 3px solid #bdb7b7 !important;
        }
      }
    }

    &:nth-of-type(2) {
      td {
        &:nth-of-type(4) {
          border-right: 3px solid #bdb7b7 !important;
        }
      }
    }

    &:last-of-type {
      td {
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          border-bottom: 3px solid #bdb7b7 !important;
        }
      }
    }
  }
}

.resourceOverview {
  th:first-of-type {
    padding: 10px !important;
  }

  span.ml15 {
    padding: 10px !important;
  }

  span.ml25 {
    padding: 10px !important;
  }
}

select#ResourceAllocCategory {
  width: 130px !important;
}

.resourceOverviewEmp tr td:last-of-type {
  text-align: center;
}

.resourceOverviewEmp .p-column-header-content {
  width: max-content;
  padding-left: 25px;
  text-align: center;
}

.resourceOverviewEmp th.p-sortable-column {
  /* text-align: right !important; */
  padding: 10px !important;
}

.resourceOverviewEmp th.p-sortable-column {
  width: 177px;
}
.rhover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #2e88c5 !important;
  // transform-origin: bottom right;
  // transition: transform 0.25s ease-out;
}

.rhover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.rhover-underline-animation {
  // display: inline-block;
  position: relative;
  cursor: pointer;
  color: #2686c5;
}

td.fteStyle,
td.countStyle {
  background-color: $tableHeaderGray;
  color: white;
}
