.customCard.saved-search-menu {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
  .collapseHeader {
    border: 1px solid #ddd;
    background: #f4f4f4 !important;
    padding: 10px;
    // border-radius: 5px;
    margin-bottom: 0;
    h2 {
      background: none;
    }
  }
}

.saved-search-expandable-btn {
  margin-bottom: 10px;
}
