@import "../../scss/variables";


.tableStyl{
  padding: 4px;
  padding-left: 40px;
}

.npsSurveyTable {
  margin: 20px 0 0;

  table {
    width: auto;
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: #eef2f5;
        }
        &:nth-of-type(even) {
          background-color: #f7fafd;
        }
      }
    }
  }

  .p-datatable .p-datatable-tbody > tr > td .p-row-toggler {
    height: 18px;
    width: 18px;
    box-shadow: none;

    .pi {
      font-size: $smallFont;
    }
  }

  .btn {
    display: flex;
    gap: 0px;
    align-items: center;
    height: 24px;

    &.btn-primary {
      background: $accent;
      border-color: $accent;
    }
  }

  .btn-container-events {
    &.center {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  tr {
    th:nth-of-type(1),
    td:nth-of-type(1) {
      width: 50px !important;
    }

    th:nth-of-type(2),
    td:nth-of-type(2) {
      width: 1000px !important;
    }

    th,
    td {
      padding: 0 6px !important;
      height: 22px !important;

      &:last-of-type {
        width: 300px;
      }
    }

    th {
      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }
  }

  .innercsat {
    thead {
      display: none;
    }

    tbody {
      border-top: 1px solid #dee2e6;

      th,
      td {
        max-width: unset !important;
        padding: 0 6px !important;
        height: 22px !important;

        &:last-of-type {
          width: 252px !important;
        }

        &:first-of-type {
          width: auto !important;
        }
      }
    }
  }

  .tableBottomButtons {
    // background-color: lighten($lightGray, 5%);
    display: flex;
    gap: 10px;
    padding: 3px;
  }
}
.p-row-toggler p-link:hover {
  color: inherit; /* Use 'inherit' to inherit the text color from the parent element */
  text-decoration: none; /* Remove underline if it's a link */
}
.p-row-toggler p-link {
  text-decoration: none; /* Remove underline if it's a link */
  color: inherit; /* Use 'inherit' to inherit the text color from the parent element */
}
.npsSurveyTable{
  .p-datatable-wrapper{
    overflow: auto;
    max-height: var(--dynamic-value) !important;
    table{
      border-collapse: separate;
      thead{
          position: sticky;
          top: 0;
          z-index: 2;
      }
  }
}
}