.CPE-pop-up-table{
    .modal-header{
        padding: 10px !important;
    }
    .CPE-pop-up-table-body{
        text-align: center;
        padding: 10px !important;
        font-size: 15px;
    }
    .CPE-pop-up-table-footer{
        justify-content: center !important ;
        padding: 0 !important;
    }
}

.capacity-plan-resource-editable-table{
    table{
        th,td{
            &:nth-of-type(n+2){
                max-width: 100px;
                min-width: 100px;
            }
        }
    }
}