.document {
  font-size: 12px !important;
  margin: 6px;
}

.modal.fade.reviewLogDeletePopUp.show.d-block {
  --cui-modal-width: 790px;
  margin-top: -30px !important;
}

.contractDocument {
  border: 1px solid #cdcdcd;
  font-size: 11px;
  margin-top: 3px;
  margin-left: 0px;
}
input[type="file"].error {
  border: 1px solid #e41b1b !important;
  background-color: rgba(228, 27, 27, 0.2);
}
// .error {
//   border: 2px solid red;
//   background-color: rgba(255, 0, 0, 0.1); /* Customize the shade of red as needed */
// }
