#table-fields {
  font-family: Arial, Helvetica, sans-serif;

  border-collapse: collapse;

  width: 100%;
}
#table-fields th {
  padding-top: 12px;

  padding-bottom: 12px;

  text-align: left;

  color: black;

  cursor: pointer;
}

#table-fields tr:nth-of-type(even) {
  background-color: #eef1f5;
}
#table-fields tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
#table-fields td,
#table-fields th {
  border: 1px solid #ccc !important;

  padding: 8px;
}
.hgt22 {
  height: 22px !important;
  background-color: #428bca !important;
  color: white;
}
.ft16 {
  font-size: 16px;
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--cui-btn-close-color, rgba(44, 56, 74, 0.95));
  background: transparent
    var(
      --cui-btn-close-bg,
      url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27rgba%2844, 56, 74, 0.95%29%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e")
    )
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  padding: 20px;

  .cvu.form-group {
    display: flex;

    .labelTxt {
      flex: 0 0 auto;
    }

    .inputField {
      margin-left: 15px;
      width: 160px;

      & > * {
        height: 23px;
        width: 100%;
        border-color: rgba(0, 0, 21, 0.175);
        border-radius: 3px;

        input {
          border-color: rgba(0, 0, 21, 0.175);
          border-width: 1px;
          border-radius: 3px;
        }
      }
    }
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--cui-modal-color);
  pointer-events: auto;
  background-color: var(--cui-modal-bg);
  background-clip: padding-box;
  border: var(--cui-modal-border-width) solid var(--cui-modal-border-color);
  border-radius: var(--cui-modal-border-radius);
  outline: 0;
}

input::placeholder {
  font-style: normal;
}
