@import "../../scss/variables";
@import "../../scss/mixins";

.nbWorkTable {
  margin-bottom: 20px;
  @include mixer(112);
  table {
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
      tr {
        th {
          vertical-align: middle;
        }
        &:nth-of-type(1) {
          th {
            &:nth-of-type(2) {
              z-index: 5;
              left: 60px !important;
              position: sticky;
            }
          }
        }
        &:nth-of-type(2) {
          th {
            &:nth-of-type(1) {
              z-index: 5;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          background-color: #d4e7fb;
          &:has(.total) {
            background-color: #f2f29f;
            text-align: right;
          }
          &:has(.odd) {
            &:nth-child(odd) {
              background-color: #c5e8e8;
              text-align: right;
            }
            &:nth-child(even) {
              background-color: #facbcb;
              text-align: right;
            }
          }
          &:nth-of-type(2) {
            *:not(img) {
              min-width: 200px;
              max-width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
        &:has(.childRow) {
          td {
            &:nth-of-type(1),
            &:nth-of-type(2) {
              background-color: $white;
            }
            &:has(.cadreColor),
            &:has(.supervisorColor) {
              &:nth-of-type(3),
              &:nth-of-type(4) {
                background-color: $white;
              }
            }
          }
        }
        &:has(.gChildRow) {
          td {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
              background-color: $white;
            }
            &:has(.total) {
              background-color: #fdfde5;
              text-align: right;
            }
            &:has(.odd) {
              &:nth-child(odd) {
                background-color: #e7f6f6;
              }
              &:nth-child(even) {
                background-color: #f6e0e0;
              }
            }
          }
        }

        &:nth-of-type(1) {
          td {
            background-color: $tableSummaryGray !important;
          }
        }
      }
    }
  }
}
