.customCard.projectStatusReport .projectStatusReport span.p-dropdown-label.p-inputtext {
    padding: 5px 0px 5px 10px !important;
}

.customCard.projectStatusReport .p-dropdown .p-dropdown-trigger{
    width: 2rem !important;
}

.customCard.projectStatusReport.projectStatusReport .p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled{
    height: 30px !important;

}

.customCard.projectStatusReport.projectStatusReport span.p-dropdown-label.p-inputtext {
    padding: 4.5px 0px 8px 13px!important;
}

.customCard.projectStatusReport.projectStatusReport span.p-dropdown-trigger-icon.p-clickable.pi.pi-chevron-down {
    margin-top: 2px;
}

.customCard.projectStatusReport .p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled{
    width: 60px !important;
}