@import "../../scss/variables";


.even {
  background-color: #facbcb !important;
}

.odd {
  background-color: #75f2f2 !important;
}

.name{
  background-color: white !important;
}

.signingsFirstTable,
.servicesTable,
.softwareTable {
 tr:last-of-type td{
  background-color: #b3bdc7 !important;
}
}

.servicesTable tr:nth-of-type(5) td
{
  background-color: #b3bdc7 !important;
}
.softwareTable tr:nth-of-type(5) td {
  background-color: #b3bdc7 !important;
}

.softwareTable,
.servicesTable,
.signingsFirstTable,
.swTargetTable {
  tr {
    th {
      text-align: center;
    }
  }
}
.tableInfoIcon {
  color: #428bca !important;
}
.softwareTable td {
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    text-align: right;
  }
}

.signingsFirstTable,
.servicesTable,
.softwareTable {
  width: 100%;
  tr {
    width: 100%;
    th,
    td {
      width: auto;
      &:nth-of-type(1) {
        width: 200px;
        .tableInfoIcon {
          font-size: 12px !important;
        }
      }
    }
  }
}
.signingsFirstTable,
.servicesTable {
  td:not(:nth-of-type(1)) {
    span {
      width: 100%;
      float: left;
      text-align: right;
    }
  }

  tr:nth-of-type(2) {
    border-bottom: 2px solid $black;
  }
}

.servicesTable {
  tr:nth-of-type(2),
  tr:nth-of-type(5) {
    border-bottom: 2px solid $black;
  }
  tr:nth-of-type(2),
  tr:nth-of-type(3),
  tr:nth-of-type(4),
  tr:nth-of-type(5) {
    a {
      text-decoration: none !important;
      color: $black !important;
    }
  }
}
.signingsFirstTable {
  tr:nth-of-type(2) {
    a {
      text-decoration: none !important;
      color: $black !important;
    }
  }
}

.softwareTable {
  tr:nth-of-type(5) {
    border-bottom: 2px solid $black;
  }
}

.signingsFirstTable,
.servicesTable,
.softwareTable {
  tr {
    a {
      width: 100%;
      float: left;
      text-align: right;
    }
    &:last-of-type {
      td {
        a {
          text-decoration: none !important;
          color: $black !important;
        }
      }
    }
  }
}

// Software Details by Owners Table
.swTargetTable {
  overflow: scroll;
  max-height: 40vh;
  table {
    border-collapse: separate;
    border-spacing: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
    th,
    td {
      border-width: 1px 0 0 1px;
      min-width: 96px;
    }

    tr {
      &:nth-of-type(1) {
        position: sticky;
        z-index: 4;
        top: 0;
        th {
          background-color: $white;
          &:nth-of-type(1) {
            position: sticky;
            left: 0;
            z-index: 4;
            background: $white;
            border-left: 1px solid #ccc !important;
          }
        }
      }
      &:nth-of-type(2) {
        position: sticky;
        z-index: 2;
        top: 22.3px;
        th {
          background-color: $white;
        }
      }
      &:nth-of-type(3) {
        position: sticky;
        z-index: 2;
        top: 44.6px;
        th {
          background-color: $white;
        }
      }
      &:nth-of-type(4) {
        font-weight: bold;
        position: sticky;
        top: 85.6px;
        z-index: 4;
        td {
          background-color: $tableSummaryGray !important;
        }
      }
      &:last-of-type {
        td {
          border-bottom: 1px solid #ccc !important;
        }
      }
      th {
        vertical-align: middle;
      }
      td {
        text-align: right;
        &:nth-of-type(1) {
          position: sticky;
          left: 0;
          background: $white;
          z-index: 2;
          border-left: 1px solid #ccc !important;
          min-width: 180px;
        }
      }
    }

    .even {
      background-color: #facbcb;
    }

    .odd {
      background-color: #75f2f2;
    }

    .total {
      background-color: #f2f29f !important;
    }

    .total.swTargetth {
      background-color: #f4f4f4 !important;
    }

    .swTargettd {
      text-align: left !important;
    }
  }
}
