@import "../../scss/variables";

.serviceMaterialTable {
  div:has(> table) {
    overflow-x: scroll;
    overflow-y: auto;
    max-height: 735px;
    width: auto;
    max-width: 100%;
    float: left;
  }

  table {
    width: auto;

    .MuiPaper-root {
      box-shadow: 0 0 0;
    }
    * {
      border-color: #ccc;
    }

    tbody,
    thead {
      th,
      td {
        &:first-of-type {
          border-left: 1px solid #cccccc;
        }

        *:has(img) {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
    td {
      a {
        color: $accent !important;
        text-decoration: none !important;
        cursor: pointer !important;
        &:hover {
          color: $accent !important;
        }
      }
    }
    tbody {
      tr {
        &:nth-of-type(1) {
          background-color: #ffffe6 !important;
        }
        td {
          &:last-of-type {
            text-align: right;
          }
        }
      }
    }
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
      th {
        & > * {
          width: 100%;
          display: flex;
          justify-content: center;
          height: 22.5px;
        }
      }
    }
    th,
    td {
      &:nth-of-type(1) {
        position: sticky;
        left: 0px;
      }
      &:nth-of-type(2) {
        position: sticky;
        left: 30px;
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &:nth-of-type(3) {
        position: sticky;
        left: 230px;
        .expcollapse {
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
